openapi: 3.2.0
info:
  title: Churnkey Customers API
  description: REST surface for Churnkey, retention and growth infrastructure for subscription companies.
  version: '1.0'
  contact:
    name: Churnkey
    url: https://churnkey.co
servers:
- url: https://api.churnkey.co/v1
  description: Churnkey production API
security:
- apiKeyAuth: []
  appIdAuth: []
tags:
- name: Customers
  description: Customer and B2B user attribute updates.
paths:
  /api/events/customer-update:
    post:
      operationId: updateCustomer
      tags:
      - Customers
      summary: Update customer or user data
      description: Updates a customer's attributes (and optional B2B user data) used for segmentation and email merge tags. At least one of uid or customerId is required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
      responses:
        '200':
          description: The customer was updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key / App ID headers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    CustomerUpdate:
      type: object
      description: At least one of uid or customerId is required.
      properties:
        uid:
          type: string
        customerId:
          type: string
        customerData:
          type: object
          additionalProperties: true
          description: Customer attributes used for segmentation and merge tags.
        user:
          $ref: '#/components/schemas/B2BUser'
    B2BUser:
      type: object
      properties:
        uid:
          type: string
        data:
          type: object
          additionalProperties: true
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-ck-api-key
      description: Churnkey API key. The Data API (/v1/data) uses the Data API key from Settings > Account; the event and billing-contact endpoints (/v1/api) use a Churnkey API key.
    appIdAuth:
      type: apiKey
      in: header
      name: x-ck-app
      description: Churnkey Application ID (App ID) from Settings.
